/* Hide some left sidebar items that I don't care about.
   ----------------------------------------------------- */
.top_left_recent_topics,
.top_left_all_messages,
.top_left_mentions,
.top_left_starred_messages,
.streams_filter_icon,
#subscribe-to-more-streams,
#show_all_private_messages,
#compose-send-button,
.enter_sends {
    display: none;
}

.narrow_description {
    visibility: hidden;
}


/* Display muted streams after non-muted ones.
   -------------------------------------------
   I haven't checked whether this still works in Zulip 6.0. */

#stream_filters {
    display:flex;
    flex-direction: column;
}

.narrow-filter.out_of_home_view {
    order: 100;
}


/* Hide (rather than grey out) people who can't see messages in a stream.
   ---------------------------------------------------------------------- */
.user_sidebar_entry.user-fade {
    display:none;
}
